<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="about container">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus hic harum sapiente? Veniam nemo tempora aut doloremque commodi eius culpa nesciunt ad. Eum soluta quidem eius veniam esse veritatis odit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus hic harum sapiente? Veniam nemo tempora aut doloremque commodi eius culpa nesciunt ad. Eum soluta quidem eius veniam esse veritatis odit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus hic harum sapiente? Veniam nemo tempora aut doloremque commodi eius culpa nesciunt ad. Eum soluta quidem eius veniam esse veritatis odit.</p>
    </div>
    <%- include('./partials/footer.ejs') %> 

</body>

</html>