.navbar-brand {
  color: crimson !important;
  font-weight: bolder;
  font-size: 2rem !important;
}
.navbar {
  padding: 0 !important;
}
.navbar-expand-lg .navbar-collapse {
  text-align: right;
  justify-content: right;
}
.nav-item .nav-link:hover {
  color: crimson !important;
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.container {
  padding-top: 4rem;
}
.inner-blog {
  background: rgba(245, 243, 243, 0.192);
  padding: 1rem;
  margin: 1rem 0rem 2rem 0rem;
}
a {
  text-decoration: none !important;
}
.title {
  color: #000;
}
.content {
  border-left: 5px solid crimson;
  padding-left: 1rem;
}
.title:hover {
  color: crimson;
}
.details{
  margin-top: 5rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between !important;
  align-items: center;
}
.inner-box{
  justify-content: space-between;
}
.delete {
  border: 1px solid crimson;
  padding: 0.3rem 1rem;
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.delete:hover {
  background: #000;
  color: crimson;
}
h2 {
  text-align: center;
  background: rgba(245, 243, 243, 0.192);
  padding: 1rem;
}
.create-blog form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* padding: 0rem 20rem; */
}
.create-blog form label,
.create-blog form button {
  margin: 1rem 0rem;
  width: 50% !important;
  justify-content: center;
}
.create-blog form button {
  text-align: center;
  margin: 1rem auto;
}
@media (max-width: 800px) {
  .navbar-expand-lg .navbar-collapse {
    text-align: center;
  }
}
@media (max-width: 550px) {
  .container {
    padding-top: 1rem;
  }
  .delete{
    font-size: 1.3rem;
  }
  .blogs{
    padding-top: 3rem;
  }
}

